body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
  z-index: -110
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

 body {
  text-align: center;
  padding: 200px;
}

#namanyay-search-btn {
background:#0099ff;
color:white;
font: 'trebuchet ms', trebuchet;
padding:10px 20px;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}

#namanyay-search-box {
background: #eee;
padding:10px;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width:160px;
 }


 #box
{
	 left: 100px;
	 top: 401px;
	 position: absolute;
   padding: 0px;

	 z-index:11;
}
#littleleft{




}
#colorRED{

  color: Wheat;
  text-align: center;
  align-content: center;
  align:center;

}
#showMenu
{
padding-right: 20px;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;


}


 #text

{
right: 0px;
	 top: 54px;
	 position: fixed;

	 z-index:22;
}
 #logo
{

 position:absolute;
top :144px;
	 z-index:11;
}

 #square
{
	 left: 890px;
	 top: 0px;
	 position: fixed;
 z-index:11;}

 .vertical-center {

  align-items: center;
}
.menubtn{
  width:190px;
  height:40px;
  background-color:#b71c1c;
  text-align:center;
  cursor:pointer;
  font-size:23px;
  border-radius:5px;
  transition: all 2s;
  -webkit-transition: width .3s, height .3s, background-color .3s, transform .5s; /* Safari */
}
.menueffect{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:23px;
  color:#fff;
  text-decoration: none;
  line-height:0px;
  -webkit-transition: width .3s, height .3s, background-color .3s; /* Safari */

}

.menubtn:hover {
  background-color:#dc3545!important;
  transform: scale(1.1);
  transition: all .5s;
  -webkit-transition: width .3s, height .3s, background-color .3s, transform .5s; /* Safari */
}
.Enterbtn{
  width:160px;
  height:40px;
  background-color:#b71c1c;
  text-align:center;
  cursor:pointer;
  font-size:20px;
  border-radius:5px;
  transition: all 2s;
  position: relative;
  left:-17px;
  -webkit-transition: width .7s, height .7s, background-color .7s, transform 1s; /* Safari */
}
.effect{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#fff;
  letter-spacing:.5em;
  text-decoration: none;
  line-height:38px;
  font-weight: bolder;
  -webkit-transition: width .7s, height .7s, background-color .7s; /* Safari */

}

.Enterbtn:hover {
    transform: scale(1.2);
  transition: all 2s;
  -webkit-transition: width .7s, height .7s, background-color .7s, transform 1s; /* Safari */
}
.loginbtn{
  width:160px;
  height:40px;
  background-color:#1C3814;
  text-align:center;
  cursor:pointer;
  font-size:20px;
  border-radius:5px;
  transition: all 2s;
  position: relative;
  left:-17px;
-webkit-transition: width .7s, height .7s, background-color .7s, transform 1s; /* Safari */
}
.logineffect {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#fff;
  text-decoration: none;
  line-height:38px;
  font-weight: bolder;
    transition: all 2s;
-webkit-transition: width .7s, height .7s, background-color .7s, transform 1s; /* Safari */

}

.loginbtn:hover {
    transform: scale(1.2);
   transition: all 2s;
  -webkit-transition: width .7s, height .7s, background-color .7s, transform 1s; /* Safari */
}
@media screen and (min-width:0px) and (max-width:420px){
	#logo{
		margin-left:-8%;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:-21px;;
	}
	.loginbtn{
		margin-top:-50px;
		margin-left:104px;;
	}
}
@media screen and (min-width:420px) and (max-width:500px){
	#logo{
		margin-left:6%;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:20px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:145px;
		transition:unset;
	}
}
@media screen and (min-width:501px) and (max-width:575px){
	#logo{
		margin-left:20%;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:97px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:221px;
		transition:unset;
	}
}
@media screen and (min-width:576px) and (max-width:585px){
	#logo{
		margin-left:-200%;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:-60px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:248px;
		transition:unset;
	}
}
@media screen and (min-width:586px) and (max-width:600px){
	#logo{
		margin-left:-200%;
	}
		.Enterbtn{
		margin-top:-20px;
		margin-left:-60px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:265px;
		transition:unset;
	}
}
@media screen and (min-width:601px) and (max-width:644px){
	#logo{
		margin-left:-100%;
	}
		.Enterbtn{
		margin-top:-20px;
		margin-left:-28px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:310px;
		transition:unset;
	}
}
@media screen and (min-width:645px) and (max-width:700px){
	#logo{
		margin-left:-110%;
	}
		.Enterbtn{
		margin-top:-20px;
		margin-left:-33px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:331px;
		transition:unset;
	}
}
@media screen and (min-width:701px) and (max-width:800px){
	#logo{
		margin-left:-90%;
	}
		.Enterbtn{
		margin-top:-20px;
		margin-left:-41px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:336px;
		transition:unset;
	}
}
@media screen and (max-width:760px) {
  .menubtn{
    font-size: 17px !important;
    width: 140px;
    height: 32px;
  }
  

}
@media screen and (min-width:801px) and (max-width:900px){
	#logo{
		margin-left:-90%;
	}
			.Enterbtn{
		margin-top:-20px;
		margin-left:-41px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:389px;
		transition:unset;
	}
}
@media screen and (min-width:901px) and (max-width:950px){
	#logo{
		margin-left:-200%;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:-95px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:373px;
		transition:unset;
	}
}
@media screen and (min-width:951px) and (max-width:1000px){
	#logo{
		margin-left:0;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:1px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:449px;
		transition:unset;
	}
}
@media screen and (min-width:1001px) and (max-width:1100px){
	#logo{
		margin-left:0;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:1px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:474px;
		transition:unset;
	}
}
@media screen and (min-width:1101px) and (max-width:1200px){
	#logo{
		margin-left:0;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:1px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:547px;
		transition:unset;
	}
}
@media screen and (min-width:1201px) and (max-width:1300px){
	#logo{
		margin-left:0;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:1px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:547px;
		transition:unset;
	}
}
@media screen and (min-width:1301px){
	#logo{
		margin-left:0;
	}
	.Enterbtn{
		margin-top:-20px;
		margin-left:1px;
		transition:unset;
	}
	.loginbtn{
		margin-top:-40px;
		margin-left:579px;
		position:relative;
		left:7px;
		transition:unset;
	}
}
